@{
    ViewBag.Title = "Contact";
}
<h2>Tutor Contact</h2>
<h3></h3>

<address>
    We Can Code IT
    50 Public Square
    Suite 200
    Cleveland, OH 44113
    Phone: 844-932-2626
    
    Cleveland Proud!
</address>

