@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"style="background-color:aquamarine">
  @*<h1>WE CAN CODE IT TUTORING</h1>*@
   @* <p class="lead">Tutoring will include teaching and reteaching concepts mapped to that weeks Lesson Plan.</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div class="overlay "style="font-family:'Comic Sans MS'">
        <h2>Tutoring Sessions</h2>
        <h3>NO CODER LEFT BEHIND!</h3>
    </div>
    
</div>
<div class="col-md-12 vertical-center mainpic img-responsive img-circle">     
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Curriculum</h3>
        <p>Here you can locate slides,books and links that will be used during the boot camp.
         
            
        </p>
        <p><a class="btn btn-default" href="Curriculums">Resource &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Instructors</h3>
      
        <p><a class="btn btn-default" href="Tutors">Staff &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Schedule</h3>

        <p><a class="btn btn-default" href="Sessions">Schedule&raquo;</a></p>
    </div>
    
</div>